# EditorConfig is awesome: https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Python convention
[*.py]
indent_size = 4

# Markdown: don't strip trailing whitespace (used for line breaks)
[*.md]
trim_trailing_whitespace = false
