body {
    font-family: 'Courier New', Courier, monospace;
}
#page-container {
    width: 95vw;
    max-width: 900px;
    margin: auto;
    background-color: lemonchiffon;
    height: 100vh;
    margin-top: 0;
    padding: 2em;
}
.nav-bar {
    display: flex;
    justify-content: flex-end;
}
.nav-bar .nav-item {
    list-style: none;
    margin-left: 1em;
    cursor: pointer;
}